<h2>Your Answer</h2>
<%= form_for :answer, :html => {:id => "answer-form"} do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content %>

  <%= f.submit 'Post Your Answer', class: 'button'%>
  <% end %>
