div.answer{
	padding: .25em;
	border: 1px solid grey;
	margin: .5em;
}

span.answer-edit-delete {
	font-size: .75em;
}

span.answer-user-time {
	font-size: .75em;
}

div.best-answer {
	padding: .25em;
	font-size: .75em;
	font-weight: bold;
	background-color: #ffff99;
}